
{% for activity in site.recent_activity reversed %}
<div class="separator-zone-2 anythingelse">
  <div class="activity_info">
      <!-- image -->
      {% if activity.image %}
      <span>
        <img src={{site.url}}{{site.baseurl}}{{activity.image}}/>
      </span>

      {% endif %}
      <!-- date -->
      {% if activity.date %}
      <span>
        «{{ activity.date | date: "%b %d, %Y" }}»
      </span>
      {% endif %}
    <!-- abstract -->
    {% if activity.abstract %}
    <div class="description">
      <p>«{{ activity.abstract }}»</p>
    </div>
    {% endif %}
  </div>
  
</div>
{% endfor %}


  