<!-- To change which posts appear, change order and offset.-->
{% for activity in site.recent_activity reversed limit:5 offset:5 %}
<div class="separator-zone-2 anythingelse">
  <div class="activity_info">
      <!-- image -->
      {% if activity.image %}
      <span>
        <img src="{{activity.image}}"/>
      </span>

      {% endif %}
      <!-- subtext -->
      {% if activity.subtext %}
      <span class="subtext_recent_activity">
        {{activity.subtext}}
      </span>

      {% endif %}
      <!-- date -->
      {% if activity.date %}
      <span class="recent_activity_date">
        «{{ activity.date | date: "%b %d, %Y" }}»
      </span>
      {% endif %}
    <!-- abstract -->
    {% if activity.abstract %}
    <div class="description">
      <p class="recent_activity_text">«{{ activity.abstract }}»</p>
      
    </div>
    {% endif %}
  </div>
  
</div>
{% endfor %}


  