<div class="game_container container" >
    <div class="background_box">
      <div class="div_bg_game">
        <div id="game_tiles"></div>
        
    </div>
    </div>
    <div class="game_box">

    </div>
    <div class="stats_box">
      <div>
      
        <span>Mr.R  LV 9001 </span>
      </div>
    </div>
    <div class="options_box">
      <div class="fight_btn menu_btn">
        <img id="fight_icon" class="btn_icons" src="{{site.url}}{{site.baseurl}}/src/assets/img/undertale/empty.png"/>
        <span>Fight</span>
      </div>
      <div class="act_btn menu_btn">
        <img id="act_icon" class="btn_icons"  src="{{site.url}}{{site.baseurl}}/src/assets/img/undertale/act_icon.png"/>
        <span>Act</span>
      </div>
      <div class="item_btn menu_btn">
        <img id="item_icon" class="btn_icons"  src="{{site.url}}{{site.baseurl}}/src/assets/img/undertale/item_icon.png"/>
        <span>Item</span>
      </div>
      <div class="mercy_btn menu_btn">
        <img id="mercy_icon" class="btn_icons"  src="{{site.url}}{{site.baseurl}}/src/assets/img/undertale/mercy_icon.png"/>
        <span>Mercy</span>
      </div>
    </div>
 </div>