{% for highlight in site.highlights  reversed limit:3 offset:1 %}
<div class="highlight_info">
  <div class="row">
    <div class="col-sm-12">
      <!-- title -->
    {% if highlight.title %}
    <div>
      <!-- wrap title with link-->
      {% if highlight.link_paper %}
  
      <a href="{{ highlight.link_paper }}">
        {% endif %}
      <p class="title-highlight" >{{ highlight.title }}.
        <!-- date -->
        {% if highlight.date %}
        «{{ highlight.date | date: "%b %d, %Y" }}
        {% endif %}
         <!-- conference -->
        {% if highlight.conference %}
          {{ highlight.conference }}»
        {% endif %}</p> 
        {% if highlight.link_paper %} </a>
        {% endif %}
    </div>
    {% endif %}
    </div>
  </div>
  <div class="row">
  <div class="col-sm-5">
        <!-- image -->
      {% if highlight.image %}
      
        <img class="image-highlight" src="{{highlight.image}}"/>
  
      {% endif %}
  </div>
  <div class="col-sm-7">
    <!-- short_desc -->
    {% if highlight.short_desc %}
    <div >
      <p class="short-desc-highlight" >{{ highlight.short_desc }}</p>
    </div>
    {% endif %}
  </div>
  </div>
</div>
<div class="separator-zone-1 anythingelse"></div>
{% endfor %}

