<div class="container">
  <div class="row">
    <div class="col-sm-9 scrollableColumn">
      <div class="row">
        <h5 id="title">Ricardo Gonzalez</h5>
      </div>
      <div class="row">
        <div class="separator-zone-1">
          <p class="lead">
            <br/>
            Hello, I am <b>Ricardo Gonzalez</b>. I am a 2nd year PhD student at
            the Information Science Department at Cornell Tech, Cornell
            University.
            <br />
            <br/>
            In this website you will find many things: My previous work done
            before joining the PhD, my current projects in Accessibility, and
            various other posts related to subjects that I like to talk about.
            You can also take a look at my personal notes and thoughts on
            general topics.
          </p>
        </div>
      </div>
      <div class="row">
        <h5 id="highlight">Research Highlights</h5>
      </div>
      <div class="row">
        <div class="separator-zone-1"></div>
      </div>
      {% include highlight_info_list.html %}
    </div>
    <div class="col-sm-3 scrollableColumn">
      <div class="row">
        <h5 id="recent-activity">Recent Activity</h5>
      </div>
      <div class="separator-zone-2"></div>
      <div class="row">{% include activity_info_list.html %}</div>
    </div>
  </div>
</div>
