.activity_info {
    text-align: center;
    padding: 10px 20px;
    font-size: $font-smaller;
    margin: 0;
  }
  .abstract {
    font-size: $font-smaller;
    color: rgba($color-primary, 0.9);
    padding: 1.1em 2.8em;
    p {
      border-bottom: $thin-border;
    }
  }

  @media screen and (max-width: 500px) {
    .activity_info {      
        font-size: $font-mobile-body;
      }
      .abstract {
        font-size: $font-mobile-body;
        
      }

}
.subtext_recent_activity{
  display:block;
  font-size: 30px;
  font-weight: 500;
  font-family: "under_mono";
}
  