
:root {
  --footer-text-icon: 40px;
  --footer-text-size: 36px;
}


@keyframes banner {
  from {
    transform: translate3d(0,0,0);
  }

  to {
    transform: translate3d(-30%,0,0);
  }
}


.footer {
  position: relative;
  display: block;
  text-align: center;
  top: auto;
  height: auto;
  padding: 0;
  margin: 25px 10px 0 0;

  .nav_bar:hover {
    animation-play-state: paused;
  }
  .nav_bar {
    width: 320%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10%;
    padding-right: 10%;
    animation-duration: 6.5s;
    animation-name: banner;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    }

  .nav_bar {
    bottom: 0;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    text-align: center;
    li {
      list-style: none;
      display: inline-block;
      padding: 2px 12px;
    }
  }
  .footer_owner_info {
    font-size: 40px;
    margin: 0;
    padding: 0;
    p {
      font-size: 28px;
      margin: 0 0.5em 0 0.05em;
      font-family: "DotGothic", monospace;
      display: inline;
    }
  }
  .footer_copyright {
    margin: 0;
    font-size: 18px;
  }
  .footer_btn {
    @include simple_link_style;
    max-width: 160px;
  }
}

#footer{
  border: 2.1px solid #c8c8c8;
  width: 89%;
  margin:auto;
  justify-content: center;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

