

.myicon{
  display: inline-flex;
 
  margin-bottom:4px;
  //make them 26px for normal size, and 16px for small size
}
.header {
  position: absolute;
  text-align: center;
  width: 100%;
  height: auto;
  z-index: 3;
  border: $secondary-border;
  
  .vertical_center_table {
    width: 100%;
    height: $header-height; // the real height of header
  }
  tbody {
    border: none;
  }
  td {
    padding: 0;
    vertical-align: middle;
  }
  li {
    width: auto;
  }
  .nav_bar {
    text-align: left;
    display: block;
    list-style: none;
    padding: 0px 12px;
    word-wrap: none;
    overflow: hidden;
    white-space: nowrap;
    a {
      margin-right: 20px;
    
    }

    .collection_btn {
      width: 180px;
      text-align: left;
    }

    .home_btn {
      width: 100px;
      text-align: center;
    }

    .research_btn {
      width: 180px;
      text-align: center;
    }

    .previous_btn {
      width: 140px;
      text-align: center;
    }

    .next_btn {
      width: 140px;
      text-align: center;
    }
    .cv_btn {
      width: 100px;
      text-align: right;
    }

    ul {
      padding: 0;
      margin: 0;
      .li_left {
        list-style: none;
        display: inline-block;
        cursor: pointer;
      }
      .span_right {
        float: right;
        cursor: pointer;
        max-width: 60%;
      }
    }
    .site_title {
      font-size: $header-btn-text-size;
      @include simple_link_style;
    }
    .site_owner {
      font-size: $header-btn-text-size;
      @include simple_link_style;
    }
  }
  .header_btn {
    margin: 0 0.06em 0 0.06em;
    display: inline-block;
    i {
      @include simple_link_style;
    }
  }
  .btn_text {
    font-style: normal;
    margin: 0;
    display: inline-block;
    text-transform: capitalize;
    font-family: "DotGothic", monospace;
    font-size: $header-btn-text-size;
  }
  .btn_icon {
    font-size: $header-btn-icon-size;
  }
  .access_token {
    resize: none;
    float: right;
    width: 5.5em;
    display: inline-flexbox;
    margin: 0px 5px;
  }
}

@media screen and (max-width: 1200px) {

  a {
    width: auto;
  }

  .collection_btn {
    width: auto !important;
    padding-right: 8px;
    padding-left: 8px;
    text-align: left;
  }
  .header {
    .home_btn {
      width: auto !important;
      padding-right: 8px;
      padding-left: 8px;
      text-align: center;
    }

    .research_btn {
      width: auto !important;
      padding-right: 8px;
      padding-left: 8px;
      text-align: center;
    }

    .previous_btn {
      width: auto !important;
      padding-right: 8px;
      padding-left: 8px;
      text-align: center;
    }

    .next_btn {
      width: auto !important;
      padding-right: 8px;
      padding-left: 8px;
      text-align: center;
    }
    .cv_btn {
      width: auto !important;
      padding-right: 8px;
      padding-left: 8px;
      text-align: right;
    }
  }
}

@media screen and (max-width: 1000px) {
  .page .header .nav_bar ul .header_btn .btn_text {
    font-size: 17.5px;
  }
  .page .header .nav_bar ul .header_btn .btn_icon {
    font-size: 17.5px;
  }
}

@media screen and (max-width: 780px) {
  .page .header .nav_bar ul .header_btn .btn_text {
    font-size: 14px;
  }
  .page .header .nav_bar ul .header_btn .btn_icon {
    font-size: 14px;
  }
  a{
    margin-right: 0px !important;
  }
}



// screen auto-adjustment
@media screen and (max-width: 500px) {
  .page .header .nav_bar ul .header_btn .btn_text {
    font-size: 0;
  }

  .page .header .nav_bar ul .header_btn .btn_icon {
    font-size: 17px;
  }
  .page .container .header {
    border-top: none;
    border-left: none;
    border-right: none;
    #mxmz_btn {
      display: none;
    }
  }

  a {
    width: auto !important;

    margin-right: 5px !important;
  }
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
