.highlight_info {
    text-align: left;
    padding: 10px 20px;
    font-size: $font-smaller;
    margin: 0;
  }
  .abstract {
    font-size: $font-smaller;
    color: rgba($color-primary, 0.9);
    padding: 1.1em 2.8em;
    p {
      border-bottom: $thin-border;
    }
  }

  .title-highlight{

    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 2vw;
  
  }

  .authors-highlight{
    margin-bottom: 0px;
    font-size: 1.6vw;

  }

  .conference-highlight{
    margin-bottom: 0px;
    font-size: 1.6vw;
  
  }

  .short-desc-highlight{
    margin-bottom: 0px;
    font-size: 1.3vw;

  }

  .image-highlight{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    padding-left: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

@media screen and (max-width: 900px) {
  .title-highlight{

    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 2.7vw;
  
  }

  .authors-highlight{
    margin-bottom: 0px;
    font-size: 2vw;

  }

  .conference-highlight{
    margin-bottom: 0px;
    font-size: 2.2vw;
  
  }

  .short-desc-highlight{
    margin-bottom: 0px;
    font-size: 1.8vw;

  }

}
  @media screen and (max-width: 500px) {
    .highlight_info {      
        font-size: $font-mobile-body;
      }
    .title-highlight{
      text-align: center;
      margin-top: 10px;
      margin-bottom: 0px;
      font-size: 20px;
    }

    .authors-highlight{
      margin-bottom: 0px;
      font-size: 18px;
    }

    .conference-highlight{
      margin-bottom: 0px;
      font-size: 18px;
    }

    .short-desc-highlight{
      margin-bottom: 0px;
      font-size: 16px;
    }
    .image-highlight{
      padding:0;
    }
    .col-sm-5{
      min-height: 100px!important;
    }


}
  